{%extends "temp.html" %} 
{%block content%}
<!-- news section start -->
<div class="news_section layout_padding">
   <div class="container">
      <h1 class="news_taital">Predicted outputs</h1>
      <div class="news_section_2">
         <div class="news_box">
            <div id="custom_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="news_img"><img src="../static/images/def-globalactivepower.png"></div>
                     </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/def-globalreactivepower.png"></div>
                  </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/voltage.png"></div>
                  </div> 
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/globalintensity.png"></div>
                  </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/submetering.png"></div>
                  </div>   
               </div>
               <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
            </div>
           </div>
         </div>
   </div>
</div>

<!-- news section end -->
{%endblock%}

{%block active%}
<li class="nav-item">
   <a class="nav-link" href="/index">About</a>
</li>
<li class="nav-item active">
   <a class="nav-link" href="/definition">Definition</a>
</li>
<li class="nav-item " >
   <a class="nav-link" href="/generator">Generator</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="/contact">Contact</a>
</li>
{%endblock%}