{%extends "temp.html" %} 
{%block content%}
<!-- news section start -->
<div class="news_section layout_padding">
   <div class="container">
      <h1 class="news_taital">Definition-output</h1>
      <div class="news_section_2">
         <div class="news_box">
            <div id="custom_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="news_img"><img src="../static/images/news-img.png"></div>
                     <h2 class="does_taital">Global active power</h2>
                     <p class="dummy_text">Active power is the power consumed across resistive elements in an electrical system, measured in kilowatts. It represents the transformation of electrical energy into other forms of energy such as heat energy, mechanical energy, etc. 
                        Basically, global active power is the predicted total active power consumed by the household at that moment (measured in kilowatts)</p>
                  </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/news-img.png"></div>
                     <h2 class="does_taital">Global reactive power</h2>
                     <p class="dummy_text">Reactive power, also known as imaginary power, is a component of power in an alternating current (AC) system that oscillates between the source and reactive elements such as inductors and capacitors. It represents the power associated with the exchange of energy between the source and the reactive elements without performing actual work.
                        Basically, global reactive power is the predicted total reactive power consumed by the household at that moment (measured in kilowatts)</p>
                  </div>
               </div>
               <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
           </div>
      </div>
      <h1 class="news_taital">Definition-input</h1>
      <div class="news_section_2">
         <div class="news_box">
            <div id="custom_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="news_img"><img src="../static/images/def-voltage.jpg"></div>
                     <h2 class="does_taital">Voltage</h2>
                     <p class="dummy_text">Voltage is the electric potential difference between two points in an electric circuit. It represents the force or energy per unit charge required to move an electric charge from one point to another.                            </p>
                  </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/news-img.png"></div>
                     <h2 class="does_taital">Global intensity</h2>
                     <p class="dummy_text">Intensity is the amount of energy or power transferred per unit area in a wave or radiation during a unit of time. It represents the strength or concentration of a wave or radiation at a particular point. Basically, global intensity is the average current intensity delivered to the household (measured in amps)</p>
                  </div>
                  <div class="carousel-item">
                     <div class="news_img"><img src="../static/images/news-img.png"></div>
                     <h2 class="does_taital">Sub_metering</h2>
                     <p class="dummy_text">n this model, we will take in 3 sub metering, which are the active power consumed by the kitchen, the laundry room and  the electric water heater, air conditioner, respectively (all measured in kilowatts). By taking these 3 factors, we can briefly analyze the effects of 3 different types of electrical devices on power consumption.</p>
                  </div>
               </div>
               <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
           </div>
      </div>
   </div>
</div>

<!-- news section end -->
{%endblock%}

{%block active%}
<li class="nav-item">
   <a class="nav-link" href="/index">About</a>
</li>
<li class="nav-item active">
   <a class="nav-link" href="/definition">Definition</a>
</li>
<li class="nav-item " >
   <a class="nav-link" href="/generator">Generator</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="/contact">Contact</a>
</li>
{%endblock%}