{%extends "temp.html" %} 

{%block title%}Generator{%endblock %}

{%block content%}
<!-- request -->
<div id="contact" class="request">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="titlepage">
               <h1 style="font-weight: bold;">Input information</h1>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="black_bg">
               <div class="row">
                  <form class="main_form" method="POST">
                     <div class="row">
                        <div class="col-lg-12 form-group">
                           <input class="contactus" placeholder="input voltage (V)" type="text" name="voltage" id="voltage">
                        </div>
                        <div class="col-lg-12 form-group">
                           <input class="contactus" placeholder="input intensity (A)" type="text" name="intensity" id="intensity">
                        </div>
                        <div class="col-lg-12 form-group">
                           <input class="contactus" placeholder="Kitchen reactive power (kWh)" name="kitchenReactivePower" id="kitchenReactivePower">
                        </div>
                        <div class="col-lg-12 form-group">
                           <input class="contactus" placeholder="Laundry reactive power (kWh)" type="text" name="laudryReactivePower" id="laudryReactivePower">
                        </div>
                        <div class="col-lg-12 form-group">
                           <input class="contactus" placeholder="Water heating & air-conditioner reactive power (kWh)" type="text" name="wtHeatingNAirCd" id="wtHeatingNAirCd">
                        </div>
                     </div>
                     <div class="btn-container">
                        <button type="submit" class="btn btn-primary">View result</button>
                     </div>
                  </form>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end request -->
{%endblock%}

{%block active%}
<li class="nav-item">
   <a class="nav-link" href="/index">About</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="/definition">Definition</a>
</li>
<li class="nav-item active" >
   <a class="nav-link" href="/generator">Generator</a>
</li>
<li class="nav-item">
   <a class="nav-link" href="/contact">Contact</a>
</li>
{%endblock%}